#gitar {
  height: 240px;
}

#gitar-neck {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  height: inherit;
}

#gitar-neck .string {
  height: 40px;
  background-color: #efefef;
  background-image: url(bg-string.png);
  background-position: center;
  background-repeat: repeat-x;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#gitar-neck .string-name {
  background-color: #333;
  width: 25px;
  color: #fff;
  height: inherit;
  line-height: 40px;
}

#gitar-neck .note {
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
  justify-content: center;
  line-height: 40px;
  border-right: 1px solid #000;
}

#gitar-neck .note-label.interval {
  background-color: green;
  color: white;
}

#gitar-neck .note-label.root {
  background-color: #333;
  color: white;
}

#gitar-neck .note-label {
  display: inline-block;
  width: 40px;
  height: inherit;
  border-radius: 20px;
  font-size: .8em;
}

#controller {
  border-bottom: 1px solid #000;
}

#intervals {
  display: flex;
  flex-direction: row;
}

#intervals .interval-button {
  flex-grow: 1;
  padding: 5px;
}

#intervals .interval {
  display: block;
  border-radius: 23px;
  border: 1px solid grey;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

#intervals .interval.selected {
  background-color: black;
  color: white;
}
